<!--    -->

<div class="container-fluid mat-elevation-z8">
  <div class="table-responsive d-flex flex-column mt-2">
    <table class="table table-hover">
      <tr>
        <th *ngFor="let col of columns">
          {{ col }}
        </th>
      </tr>
      <tr *ngFor="let donation of donations; let i = index">
        <td>{{ donation.name }}</td>
        <td>{{ donation.address1 }}</td>
        <td>{{ donation.address2 }}</td>
        <td>{{ donation.zipcode }}</td>
        <td>{{ donation.phone }}</td>
        <td>{{ donation.pickupslot }}</td>
        <!-- <td>
          <button mat-raised-button class="app-primary-btn" (click)="delete(donation)">Remove</button>
        </td> -->
      </tr>
      <tr></tr>
    </table>
  </div>
</div>
