<section class="container-fluid signup-container">
  <div class="row justify-content-center">
    <div fxHide.lt-md class="col-md-7">
      <picture>
        <img class="app-signup-img" alt="signup page image" src="./../../assets/media/app-signup.jpg" />
      </picture>
    </div>
    <div class="col-md-5 col-sm-12 d-flex flex-column justify-content-center">
      <mat-card class="signup-card mt-4 mb-4 mat-elevation-z16">
        <mat-card-header class="p-4">
          <mat-card-title>{{ 'Signup' | uppercase }}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="p-4 pt-4 pb-4"> </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
