<section class="container-fluid app-home w-70" style="margin-top: 30px">
  <div
    class="jumbotron p-3 p-md-5 text-white rounded bg-dark"
    style="background-image: url('../../assets/media/donation.png'); background-size: cover"
  >
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Dear visitor,</h1>
      <p class="lead my-3">
        Ordinary people, whose personal well-being and security are assured, join together in huge numbers to save
        people they do not know, and will never meet… Unlike any other creature on this planet, humans can learn and
        understand, without having experienced.
      </p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Make a Donation...</a></p>
    </div>
  </div>
</section>
